.blue {
  background-color: var(--color-blue);
  color: white;
}

.green {
  background-color: var(--color-green);
}

.orange {
  background-color: var(--color-orange);
}

body {
  --color-orange: #e58843;
  --color-blue : #006E82;
  --color-green : #53B389;
}
