<div class="box conatinerH">
  <div class="menu">
    <a href="#/x-import-catalog">import</a>
  </div>
  <div class="menu">
    <a href="#/x-catalog-import">consolidation</a>
  </div>

  <div class="menu">
    <a href="#/x-catalog-supply">catalogue</a>
  </div>
  <div class="menu">
    <a href="#/x-oidc-test">test OIDC</a>
  </div>
  <div class="menu">
    <a href="#/x-ldp-test">test LDP</a>
  </div>


</div>
<style>
  .menu {
    background-color: var(--color-blue);
    margin: 5px;
    padding: 5px;
  }

  /* .menu a {
    color: white;
  } */

  /* .menu a:visited{
    color : white;
  } */
</style>
